venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.env
.env.*
!.env.template
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
*.log
.git/
.github/
.DS_Store
datasets/
tests/
docs/
*.md
